.Home {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

/* section1 */
.Home .section1 {
  text-align: center;
}

.Home .section1 h1 {
  color: transparent;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  background-clip: text;
  margin: 0;
  background: linear-gradient(to right, #f472b6, #c084fc);
  -webkit-background-clip: text;
}

.Home .section1 > p {
  margin-top: 24px;
  margin-bottom: 0;
  color: rgb(209, 213, 219);
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.Home .section1 button {
  margin-top: 24px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: rgb(147 51 234);
  border-radius: 0.5rem;
  align-items: center;
  display: inline-flex;
  text-decoration: inherit;
  border: none;
  cursor: pointer;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.Home .section1 button:hover {
  background-color: rgb(126, 34, 206);
}

.Home .section1 button svg {
  margin-left: 8px;
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  vertical-align: middle;
}

.Home .section1 button span {
  font-size: 16px;
}

/* section2 */

.Home .section2 {
  margin-top: 64px;
  /* margin-bottom: 1.5rem; */
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  display: grid;
}

.Home .section2 div {
  padding: 1.5rem;
  background-color: rgb(31, 41, 55);
  border-radius: 0.5rem;
}

.Home .section2 div > div {
  background-color: rgb(168, 85, 247, 0.1);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  /* width: 48px; */
  display: flex;
  margin-bottom: 1rem;
}

.Home .section2 div > div > svg {
  color: rgb(192, 132, 252, 1);
  width: 48px;
  height: 48px;
  display: block;
  vertical-align: middle;
}

.Home .section2 h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0;
}

.Home .section2 p {
  color: rgb(156, 163, 175);
  margin-top: 8px;
}

/* section3 */

.Home .section3 {
  margin-top: 64px;
  padding: 2rem;
  background-color: rgb(31, 41, 55);
  border-radius: 0.5rem;
}

.Home .section3 h2 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 24px;
  margin-top: 0;
}

.Home .section3 > div {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  display: grid;
}

.Home .section3 > div > div h1 {
  color: rgb(192, 132, 252);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

.Home .section3 > div > div h3 {
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 8px;
  margin-bottom: 0;
}

.Home .section3 > div > div p {
  margin-top: 8px;
  margin-bottom: 0px;
  color: rgb(156, 163, 175);
  margin-top: 8px;
  margin-bottom: 0;
}
