.Studio {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  unicode-bidi: isolate;
}

/* section1 */

.Studio .section1 {
  margin-bottom: 2rem;
}

.Studio .section1 .section1-1 {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
}

.Studio .section1 .section1-2 {
  background-color: rgb(55, 65, 81);
  border-radius: 9999px;
  height: 0.5rem;
}

/* section3 */
/* 
.Studio .section3 {
  justify-content: space-between;
  display: flex;
  margin-top: 1.5rem;
}

.Studio .section3 button {
  opacity: 0.5;
  cursor: not-allowed;
  color: rgb(255, 255, 255);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(55, 65, 81);
  border-radius: 0.5rem;
  align-items: center;
  display: flex;
  text-transform: none;
  border: none;
}

.Studio .section3 button svg {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
  vertical-align: middle;
}

.Studio .section3 button span {
  margin-left: 0.5rem;
} */
